<%- include('header') %>
<form method="GET" action="/cotation">
    <input name="cotation" placeholder="Dolar Cotation"><br>
    <input name="quantity" placeholder="Dolars Quantity"><br>
    <button>Convert it!</button>
</form>
<%- include('footer') %>